---
---
@charset "utf-8";


//// Define basic variables here
$img: {{ site.baseurl }}/images;


//// Set our colors (named by closest match to XKCD survey https://gist.github.com/tremby/578775aaf6330f5f47c9fc6a0c705da5)
$darkgrey: #423934;
$purplebrown: #552B2B;
$mediumgrey: #6E6E6E;
$brownishgrey: #797465;
$greyish: #A39B8A;
$lightgrey: #DEDAC8;
$palegrey: #F5F5F5;
$offwhite: #EFEDD8;
$sandyyellow: #FFEC6D;
$palepeach: #FFEFBE4C;  // The extra 2 letters are for transparency
$palepeachsolid: #FFEFBE;
$peach: #F7A87D;
$terracotta: #DB6C3C; // #D55B2F;
$clay: #A8573E;
$earth: #A65B3B;
$waterblue: #0088CC;
$bluegreen: #437874;


//// Update Bulma's variables
$grey-dark: $mediumgrey;
$grey-light: $palegrey;
$primary: $peach;
$link: $terracotta;
$body-background-color: $palegrey;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;
$gap: 100px;
$navbar-height-num: 65;
$navbar-margin: 13;
$navbar-padding: 0;
$navbar-height: $navbar-height-num + px;
$navbar-background-color: $terracotta;

$navbar-item-color: $offwhite;
$navbar-item-hover-color: $sandyyellow;
$navbar-item-hover-background-color: $clay;
$navbar-item-active-background-color: $clay;
$navbar-dropdown-border-top: 0;
$navbar-dropdown-background-color: $clay;
$navbar-dropdown-item-hover-color: $sandyyellow;
$navbar-dropdown-item-hover-background-color: $terracotta;
$navbar-dropdown-arrow: $offwhite;
$navbar-font-family: Oswald, Impact, sans-serif;

$border-hover: $mediumgrey;

$input-color: $offwhite;
$input-background-color: $palepeach;
$input-border-color: $clay;

$footer-padding: ($navbar-margin + 7.5) + px 0;
$footer-color: $offwhite;



//// This section imports pieces of bulma

//// Import all at once
// @import "bulma/bulma.sass";

//// Import groups of objects
@import "bulma/sass/base/_all.sass";
// @import "bulma/sass/components/_all.sass";
// @import "bulma/sass/elements/_all.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/layout/_all.sass";
@import "bulma/sass/utilities/_all.sass";

//// Import specific pieces
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/breadcrumb.sass";
@import "bulma/sass/components/pagination.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/form/shared.sass";
@import "bulma/sass/form/input-textarea.sass";


//// Now we import our own files
@import "common";
@import "trim";
@import "header";
@import "main";
@import "homepage";
@import "article";
@import "footer";
