<main class="py-6">

    <div class="container is-max-widescreen">

        <div class="columns">

            <div class="column is-three-quarters">
                <article>
                    {{ content }}
                </article>
            </div>

            <div class="column">
                <aside>
                    Here is the side text, which contains more navigation, some media, and quotes.
                </aside>
            </div>

        </div>
        <!-- {% if page.show_sidebar %}
             {% endif %} -->

    </div>

</main>
