<main class="py-6">

    <div class="container is-max-widescreen">

        <div class="columns">

            <div class="column is-three-quarters">

                {% include breadcrumbs.html %}

                {{ content }}

            </div>

            <div class="column">
                <aside>
                    {% if page.sidebar_quote %}
                    <div class="sidebar-quote">
                        <h1>Inspiration</h1>
                        <div style="position: relative;">
                            <blockquote class="sidebar-quote-content">{{ page.sidebar_quote | newline_to_br }}</blockquote>
                        </div>
                        {% if page.sidebar_quote_attribution %}
                        <div class="sidebar-quote-attribution">{{ page.sidebar_quote_attribution | markdownify }}</div>
                        {% endif %}
                    </div>
                    {% endif %}
                </aside>
            </div>

        </div>

    </div>

</main>
