<footer class="footer">
    <section class="hero">
        <div class="hero-body container is-max-widescreen p-4">
            <div class="columns">

                <div class="column">
                    <h1 class="title is-3">About SXS</h1>
                    <p>
                        The SXS project is a collaborative research effort involving multiple
                        institutions. Our goal is the simulation of black holes and other extreme
                        spacetimes to gain a better understanding of Relativity, and the physics of
                        exotic objects in the distant cosmos.
                    </p>
                    <p>
                        The SXS project is supported by the
                        <a href="https://en.wikipedia.org/wiki/Sherman_Fairchild_Foundation"
                           target="_blank" title="Sherman Fairchild Foundation" rel="noopener">Sherman Fairchild Foundation</a>,
                        Max Planck Society,
                        <a href="http://www.nasa.gov/" target="_blank" title="NASA" rel="noopener">NASA</a>,
                        the <a href="http://www.nsf.gov/" target="_blank" title="NSF" rel="noopener">National Science Foundation</a>,
                        and XSEDE.
                    </p>
                </div>

                <div class="column">
                    <h1 class="title is-3">Our Latest Tweet</h1>
                    <div id="latest-tweet">
                        <a class="twitter-timeline"
                           data-tweet-limit=1
                           data-chrome="noheader nofooter"
                           href="https://twitter.com/SXSProject">
                            Tweets by @SXSProject
                        </a>
                    </div>
                </div>

            </div>

            <div class="institutions">
              {%- assign sorted = site.institutions | sort: 'name' -%}
              {%- for inst in sorted -%}
              <a target="_blank" rel="noopener" href="{{ inst.home_url }}" title="{{ inst.logo_title }}">
                <img src="{{ site.baseurl }}/images/institutions/{{ inst.logo_src }}"
                     {%- if inst.logo_alt %}
                       alt="{{ inst.logo_alt }}"
                     {% endif -%}{%- if inst.logo_w %}
                       width="{{ inst.logo_w }}"
                     {% endif -%}{%- if inst.logo_h %}
                       height="{{ inst.logo_h }}"
                     {% endif -%} />
              </a>
              {%- endfor -%}
            </div>

        </div>
    </section>

    <div class="trim">
        <div class="container is-max-widescreen">
            <span class="copyright-narrow">© {{ 'now' | date: "%Y" }} SXS Project.
                <a  rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">Some rights reserved.</a>
            </span>
            <span class="copyright-wide">Copyright © {{ 'now' | date: "%Y" }} Simulating eXtreme Spacetimes.
            <a  rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">Some rights reserved; licensed CC BY NC SA 4.0.</a>
        </div>
    </div>
</footer>


<script>
 {% include navbar-burgers.js %}
 {% include latest-tweet.js %}
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
