<section class="hero">
    <div class="hero-body container is-widescreen p-4">
        <a class="" href="https://www.pma.caltech.edu/" target="_blank" title="California Institute of Technology Division of Physics, Mathematics &amp; Astronomy"><img src="{{ site.baseurl }}/assets/images/institutions/caltech_new_s.png" alt="Caltech" width="133" height="32"></a>
        <a class="" href="https://www.cita.utoronto.ca/" target="_blank" title="Canadian Institute for Theoretical Astrophysics"><img src="{{ site.baseurl }}/assets/images/institutions/cita-icat_s_light.png" alt="CITA-ICAT"></a>
        <a class="" href="https://physics.fullerton.edu/gwpac/" target="_blank" title="The Gravitational-Wave Physics and Astronomy Center at Cal State Fullerton"><img src="{{ site.baseurl }}/assets/images/institutions/csuf_s.png" alt="Cal State Fullerton"></a>
        <a class="" href="https://astro.cornell.edu/" target="_blank" title="Cornell University Astronomy Department"><img src="{{ site.baseurl }}/assets/images/institutions/cornell_new_s.png" alt="Cornell"></a>
        <a class="" href="https://www.aei.mpg.de/" target="_blank" title="Albert Einstein Institute"><img src="{{ site.baseurl }}/assets/images/institutions/ae_engli_white_small.png" alt="Albert Einstein Institute" width="200" height="64"></a>
        <a class="" href="https://www.oberlin.edu/physics/" target="_blank" title="Oberlin College Department of Physics and Astronomy"><img src="{{ site.baseurl }}/assets/images/institutions/oberlin_s.png" alt="Oberlin College" width="120" height="60"></a>
        <a class="" href="https://physics.olemiss.edu/" target="_blank" title="The University of Mississippi Department of Physics"><img src="{{ site.baseurl }}/assets/images/institutions/CrestUM_StackedBlue2767_TMR.png" alt="Ole Miss" width="139" height="106"></a>
        <a class="" href="httpss://cns.utexas.edu/" target="_blank" title="The University of Texas at Austin College of Natural Sciences"><img src="{{ site.baseurl }}/assets/images/institutions/utaustin_rgb_university_primary_stacked.png" alt="UT Austin" width="153" height="106"></a>
        <a class="" href="https://astro.wsu.edu/" target="_blank" title="Washington State University Department of Physics and Astronomy"><img src="{{ site.baseurl }}/assets/images/institutions/wsu_new_s_light.png" alt="Washington State University" class="last-img" width="130" height="80"></a>
    </div>
</section>

<div class="trim">
    <div class="container is-max-widescreen">
        <span>
            Copyright © {{ 'now' | date: "%Y" }} Simulating eXtreme Spacetimes.
            <a  rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">Some rights reserved; licensed CC BY NC SA 4.0.</a>
        </span>
    </div>
</div>
