<section class="hero">
    <div class="hero-body container is-max-widescreen p-4">
        <div class="columns">

            <div class="column">
                <h1 class="title is-3">About SXS</h1>
                <p>
                    The SXS project is a collaborative research effort involving multiple
                    institutions. Our goal is the simulation of black holes and other extreme
                    spacetimes to gain a better understanding of Relativity, and the physics of
                    exotic objects in the distant cosmos.
                </p>
                <p>
                    The SXS project is supported by the
                    <a href="https://en.wikipedia.org/wiki/Sherman_Fairchild_Foundation" target="_blank" title="Sherman Fairchild Foundation">Sherman Fairchild Foundation</a>,
                    Max Planck Society,
                    <a href="http://www.nasa.gov/" target="_blank" title="NASA">NASA</a>,
                    the <a href="http://www.nsf.gov/" target="_blank" title="NSF (National Science Foundation)">National Science Foundation</a>,
                    and XSEDE.
                </p>
            </div>

            <div class="column">
                <h1 class="title is-3">Our Latest Tweet</h1>
                <div id="latest-tweet">
                    <a class="twitter-timeline"
                       data-tweet-limit=1
                       data-chrome="noheader nofooter"
                       href="https://twitter.com/SXSProject">
                        Tweets by @SXSProject
                    </a>
                </div>
            </div>

        </div>

        <div class="institutions">
            <a class="" href="https://www.pma.caltech.edu/" target="_blank" title="California Institute of Technology Division of Physics, Mathematics &amp; Astronomy"><img src="{{ site.baseurl }}/images/institutions/caltech_new_s.png" alt="Caltech" width="133" height="32"></a>
            <a class="" href="https://physics.fullerton.edu/gwpac/" target="_blank" title="The Gravitational-Wave Physics and Astronomy Center at Cal State Fullerton"><img src="{{ site.baseurl }}/images/institutions/csuf_s.png" alt="Cal State Fullerton"></a>
            <a class="" href="https://astro.cornell.edu/" target="_blank" title="Cornell University Astronomy Department"><img src="{{ site.baseurl }}/images/institutions/cornell_new_s.png" alt="Cornell"></a>
            <a class="" href="https://www.aei.mpg.de/" target="_blank" title="Albert Einstein Institute"><img src="{{ site.baseurl }}/images/institutions/ae_engli_white_small.png" alt="Albert Einstein Institute" width="200" height="64"></a>
            <a class="" href="https://www.oberlin.edu/physics/" target="_blank" title="Oberlin College Department of Physics and Astronomy"><img src="{{ site.baseurl }}/images/institutions/oberlin_s.png" alt="Oberlin College" width="150" height="75"></a>
            <a class="" href="https://physics.olemiss.edu/" target="_blank" title="The University of Mississippi Department of Physics"><img src="{{ site.baseurl }}/images/institutions/CrestUM_StackedBlue2767_TMR.png" alt="Ole Miss" width="139" height="106"></a>
            <a class="" href="https://www.umassd.edu/cas/math/" target="_blank" title="UMass Dartmouth Department of Mathematics"><img src="{{ site.baseurl }}/images/institutions/umass_dartmouth.svg" alt="UMass Dartmouth" width="221" height="124"></a>
            <a class="" href="https://cns.utexas.edu/" target="_blank" title="The University of Texas at Austin College of Natural Sciences"><img src="{{ site.baseurl }}/images/institutions/utaustin_rgb_university_primary_stacked.png" alt="UT Austin" width="204" height="141"></a>
            <a class="" href="https://astro.wsu.edu/" target="_blank" title="Washington State University Department of Physics and Astronomy"><img src="{{ site.baseurl }}/images/institutions/wsu_new_s_light.png" alt="Washington State University" class="last-img" width="130" height="80"></a>
        </div>

    </div>
</section>

<div class="trim">
    <div class="container is-max-widescreen">
        <span>
            Copyright © {{ 'now' | date: "%Y" }} Simulating eXtreme Spacetimes.
            <a  rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">Some rights reserved; licensed CC BY NC SA 4.0.</a>
        </span>
    </div>
</div>
