<header>
    <a href="{{ site.baseurl }}/" class="logo">
        <span role="img" aria-label="Simulating eXtreme Spacetimes"></span>
    </a>

    <nav class="navbar trim" role="navigation" aria-label="Main navigation">
        <div class="container is-max-widescreen">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

            <div id="navbarMenu" class="navbar-menu">
                <div id="navbarMenuContent">
                    <div class="navbar-start" aria-label="SXS site navigation">
                        {% include menu_recursion.html menu=site.data.menu baseurl="" %}
                    </div>

                    <div class="navbar-end" aria-label="SXS site search">
                        <div class="navbar-item">
                            {% include search.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
