<!-- The following is enclosed in <head> tags already -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="keywords" content="Gravitational Waves,Relativity,Einstein,SXS,Numerical Relativity,Spectral Einstein Code,Compact Objects,Theoretical Astrophysics,SpEC">
<meta name="description" content="The SXS project is a collaborative research effort involving multiple institutions. Our goal is the simulation of black holes and other extreme spacetimes to gain a better understanding of Relativity, and the physics of exotic objects in the distant cosmos.">
<link rel="icon" href="{{ site.baseurl }}/favicon.ico" sizes="16x16 32x32 48x48 64x64 256x256" type="image/vnd.microsoft.icon">
<title>{{ page.title }} - SXS</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

{% if page.is_homepage %}
{% else %}
{% endif %}

<!-- Style the twitter widget -->
<meta name="twitter:widgets:theme" content="dark">
<meta name="twitter:widgets:border-color" content="#ED9755">
