<a href="/" class="logo"></a>

<nav class="navbar trim" role="navigation" aria-label="Main">
    <div class="container is-max-widescreen">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        The Science
                    </a>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Explore
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Movies
                        </a>
                        <a class="navbar-item">
                            Sounds
                        </a>
                        <a class="navbar-item">
                            FAQ
                        </a>
                        <a class="navbar-item">
                            Glossary
                        </a>
                        <a class="navbar-item">
                            Downloads
                        </a>
                        <a class="navbar-item">
                            Further Explorations
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        About SXS
                    </a>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        For Researchers
                    </a>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Contact Us
                    </a>
                </div>

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    {% include search.html %}
                </div>
            </div>
        </div>
    </div>
</nav>
