<main>
    <div class="hero admit-one">
        <div class="admit-one-moon admit-one-animated">
            <img src="{{ site.baseurl }}/assets/images/site/homepage_admit-one_moon.png" alt="planet">
        </div>
        <div class="admit-one-rocket admit-one-animated">
            <img src="{{ site.baseurl }}/assets/images/site/homepage_admit-one_rocket.png" alt="rocket">
        </div>
        <div class="admit-one-bbh admit-one-animated">
            <img src="{{ site.baseurl }}/assets/images/site/homepage_admit-one_bbh.png" alt="binary black-hole system">
        </div>
        <div class="admit-one-inspiral admit-one-animated">
            <img src="{{ site.baseurl }}/assets/images/site/homepage_admit-one_inspiral.png" alt="inspiral of compact objects">
        </div>
        <div class="admit-one-arrows admit-one-animated">
            <img src="{{ site.baseurl }}/assets/images/site/homepage_admit-one_arrows.png" alt="arrows">
        </div>
        <div class="admit-one-ticket admit-one-animated">
            <a class="admit-one-ticket" href="/the-science" title="Start the tour">
                <img src="{{ site.baseurl }}/assets/images/site/homepage_admit-one_ticket.png" alt="ticket">
            </a>
        </div>
        <div class="admit-one-ready admit-one-animated">
            Ready?
        </div>
    </div>

    <div class="hero the-science">
        <div class="container arrow-down"></div>
        <div class="container title">
            <h1>the <strong>Science</strong></h2>
            <h2>~ four main areas we study ~</h2>
        </div>
        <div class="container is-max-widescreen">
            <ul class="coins">
                <li class="coin coin1"
                    onclick="window.location='/the-science/relativity/the-disputed-center-of-the-universe';">
                    <div class="coin centering edge"></div>
                    <div class="coin centering obverse coin1"></div>
                    <div class="coin centering reverse coin1">
                        <h3>Relativity</h3>
                        <p>Einstein's Version of the Laws of Physics</p>
                        <a href="/the-science/relativity/the-disputed-center-of-the-universe" title="Relativity">Read More</a>
                    </div>
                    <div class="label">
                        Relativity
                    </div>
                </li>
                <li class="coin coin2"
                    onclick="window.location='/the-science/gw-astronomy/gravitational-waves';">
                    <div class="coin centering edge"></div>
                    <div class="coin centering obverse coin2"></div>
                    <div class="coin centering reverse coin2">
                        <h3>Gravitational<br/>Waves</h3>
                        <p>Ripples in the Fabric of Spacetime</p>
                        <a href="/the-science/gw-astronomy/gravitational-waves" title="Gravitational Waves">Read More</a>
                    </div>
                    <div class="label">
                        Gravitational waves
                    </div>
                </li>
                <li class="coin coin3"
                    onclick="window.location='/the-science/compact-objects/white-dwarfs';">
                    <div class="coin centering edge"></div>
                    <div class="coin centering obverse coin3"></div>
                    <div class="coin centering reverse coin3">
                        <h3>Compact<br/>Objects</h3>
                        <p>The End Points of Stellar Evolution</p>
                        <a href="/the-science/compact-objects/white-dwarfs" title="Compact Objects">Read More</a>
                    </div>
                    <div class="label">
                        Compact Objects
                    </div>
                </li>
                <li class="coin coin4"
                    onclick="window.location='/the-science/numerical-relativity/einsteins-equations';">
                    <div class="coin centering edge"></div>
                    <div class="coin centering obverse coin4"></div>
                    <div class="coin centering reverse coin4">
                        <h3>Numerical<br/>Relativity</h3>
                        <p>Giving the Problem to a Computer</p>
                        <a href="/the-science/numerical-relativity/einsteins-equations" title="Numerical Relativity">Read More</a>
                    </div>
                    <div class="label">
                        Numerical Relativity
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="hero research">
        <div class="container is-max-widescreen py-5">

            <h1 class="title is-3" style="color: #6E6E6E;">Active Research</h1>

            <div class="columns">
                {% for post in site.posts limit:2 %}
                    <div class="column">
                        <h2 class="title is-4">{{ post.title }}</h2>
                        <p class="dt-published">Created on {{ post.date | date: "%B %-d, %Y" }}</p>
                        <div class="latest-research">{{ post.excerpt }}</div>
                        <p><a href="{{ site.baseurl }}{{ post.url }}">Read more…</a></p>
                    </div>
                {% endfor %}
            </div>

            <div class="has-text-centered">
                <h2 class="title is-4"><a href="{{ site.baseurl }}/research">See previous updates</a></h2>
            </div>

            <hr>

            <div class="columns">

                <div class="column">
                    <h2 class="title is-4">Explore the Science of SXS</h2>
                    <div>
                        <p class="honeycomb">
                            <a href="{{ site.baseurl }}/explore/movies" class="movies" title="Videos">
                                <img alt="Videos" src="{{ site.baseurl }}/assets/images/site/homepage_explore_videos.png">
                            </a>
                            <a href="{{ site.baseurl }}/explore/sounds" class="sounds" title="Sounds">
                                <img alt="Sounds" src="{{ site.baseurl }}/assets/images/site/homepage_explore_sounds.png">
                            </a>
                            <a href="{{ site.baseurl }}/explore/glossary" class="glossary" title="Glossary">
                                <img alt="Glossary" src="{{ site.baseurl }}/assets/images/site/homepage_explore_glossary.png">
                            </a>
                            <a href="{{ site.baseurl }}/explore/faq" class="faq" title="FAQ">
                                <img alt="FAQ" src="{{ site.baseurl }}/assets/images/site/homepage_explore_faq.png">
                            </a>
                            <a href="{{ site.baseurl }}/explore/downloads" class="downloads" title="Downloads">
                                <img alt="Downloads" src="{{ site.baseurl }}/assets/images/site/homepage_explore_downloads.png">
                            </a>
                        </p>
                    </div>
                </div>

                <div class="column bh-quote">
                    <blockquote>
                        <p class="quote">
                            Come, you lost Atoms, to your Centre draw,<br>
                            And be the Eternal Mirror that you saw:<br>
                            Rays that have wander'd into Darkness wide,<br>
                            Return and back into your Sun subside.
                        </p>
                        <p class="source">
                            From Farid al-Din Attar's twelfth-century masterpiece<br>
                            <em>The Conference of the Birds</em>
                        </p>
                    </blockquote>
                </div>

            </div>

        </div>
    </div>
    
</main>
