<main>
    <div class="hero admit-one">
        <div class="admit-one-moon admit-one-animated">
            <img src="{{ site.baseurl }}/assets/images/site/homepage_admit-one_moon.png" alt="planet">
        </div>
        <div class="admit-one-rocket admit-one-animated">
            <img src="{{ site.baseurl }}/assets/images/site/homepage_admit-one_rocket.png" alt="rocket">
        </div>
        <div class="admit-one-bbh admit-one-animated">
            <img src="{{ site.baseurl }}/assets/images/site/homepage_admit-one_bbh.png" alt="binary black-hole system">
        </div>
        <div class="admit-one-inspiral admit-one-animated">
            <img src="{{ site.baseurl }}/assets/images/site/homepage_admit-one_inspiral.png" alt="inspiral of compact objects">
        </div>
        <div class="admit-one-arrows admit-one-animated">
            <img src="{{ site.baseurl }}/assets/images/site/homepage_admit-one_arrows.png" alt="arrows">
        </div>
        <div class="admit-one-ticket admit-one-animated">
            <a class="admit-one-ticket" href="/the-science" title="Start the tour">
                <img src="{{ site.baseurl }}/assets/images/site/homepage_admit-one_ticket.png" alt="ticket">
            </a>
        </div>
        <div class="admit-one-ready admit-one-animated">
            Ready?
        </div>
    </div>

    <div class="hero the-science">
        <div class="container arrow-down"></div>
        <div class="container title">
            <h1>the <strong>Science</strong></h2>
            <h2>~ four main areas we study ~</h2>
        </div>
        <div class="container is-max-widescreen">
            <ul class="coins">
                <li class="coin coin1"
                    onclick="window.location='/the-science/relativity/the-disputed-center-of-the-universe';">
                    <div class="coin centering edge"></div>
                    <div class="coin centering obverse coin1"></div>
                    <div class="coin centering reverse coin1">
                        <h3>Relativity</h3>
                        <p>Einstein's Version of the Laws of Physics</p>
                        <a href="/the-science/relativity/the-disputed-center-of-the-universe" title="Relativity">Read More</a>
                    </div>
                    <div class="label">
                        Relativity
                    </div>
                </li>
                <li class="coin coin2"
                    onclick="window.location='/the-science/gw-astronomy/gravitational-waves';">
                    <div class="coin centering edge"></div>
                    <div class="coin centering obverse coin2"></div>
                    <div class="coin centering reverse coin2">
                        <h3>Gravitational<br/>Waves</h3>
                        <p>Ripples in the Fabric of Spacetime</p>
                        <a href="/the-science/gw-astronomy/gravitational-waves" title="Gravitational Waves">Read More</a>
                    </div>
                    <div class="label">
                        Gravitational waves
                    </div>
                </li>
                <li class="coin coin3"
                    onclick="window.location='/the-science/compact-objects/white-dwarfs';">
                    <div class="coin centering edge"></div>
                    <div class="coin centering obverse coin3"></div>
                    <div class="coin centering reverse coin3">
                        <h3>Compact<br/>Objects</h3>
                        <p>The End Points of Stellar Evolution</p>
                        <a href="/the-science/compact-objects/white-dwarfs" title="Compact Objects">Read More</a>
                    </div>
                    <div class="label">
                        Compact Objects
                    </div>
                </li>
                <li class="coin coin4"
                    onclick="window.location='/the-science/numerical-relativity/einsteins-equations';">
                    <div class="coin centering edge"></div>
                    <div class="coin centering obverse coin4"></div>
                    <div class="coin centering reverse coin4">
                        <h3>Numerical<br/>Relativity</h3>
                        <p>Giving the Problem to a Computer</p>
                        <a href="/the-science/numerical-relativity/einsteins-equations" title="Numerical Relativity">Read More</a>
                    </div>
                    <div class="label">
                        Numerical Relativity
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="hero research">
        <div class="container is-max-widescreen py-5">
            <h1 class="title is-2" style="color: #6E6E6E;">Our Latest Research</h1>
            <div class="columns">
                <div class="column">
                    <h2 class="title is-4">GW1509014: LIGO Detects Gravitational Waves</h2>
                    <p>On 14 September 2015 at 4:50:45 AM Eastern standard time, LIGO detected its first gravitational waves.  The waves descended on Earth from the southern hemisphere, passed through the Earth, and emerged at the Earth's surface first at the LIGO interferometer in Livingston, Louisiana, and then, 7 milliseconds later, at the LIGO interferometer in Hanford, Washington (shown below).</p>
                </div>
                <div class="column">
                    <h2 class="title is-4">Tidal effects in neutron star-compact object binaries</h2>
                    <p>To detect and characterize gravitational waves from neutron star binaries, LIGO needs good models of all possible signals.  Numerical relativity can't practically be used for every case, but it is needed to test and calibrate the simpler models that LIGO can use.  Inspiral waveforms from binaries with neutron stars differ from binary black hole waveforms by the presence of tidal forces.  In a recent paper (http://arxiv.org/abs/1602.00599), Tanja Hinderer and collaborators use SXS black hole-neutron star simulations to validate a new model of these tidal forces.  They find that tidal effects can be stronger than previously expected when they come close to resonance with a neutron star's preferred ways of ringing (its normal modes of oscillation). Ipsum lorem dolitor ericut secator</p>
                    <p>When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
                        \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]</p>
                </div>
            </div>
        </div>
    </div>
    
</main>
