{%- if page.order -%}
{%- assign directory = page.url | split: '/' | pop | join: '/' -%}
{%- assign dirpages = site.pages | where_exp: "item", "item.url contains directory" | sort: "order" -%}
{%- assign lastorder = dirpages.size | minus: 1 -%}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {%- if page.previous -%}
    <a href="{{ site.baseurl }}{{ page.previous }}" class="pagination-previous" aria-label="Previous page">Previous page</a>
    {%- elsif page.order > 0 -%}
    {%- assign prevorder = page.order | minus: 1 -%}
    {%- assign prev = dirpages[prevorder] -%}
    <a href="{{ site.baseurl }}{{ prev.url }}" class="pagination-previous" aria-label="Previous page">Previous page</a>
    {%- endif -%}
    {%- if page.next -%}
    <a href="{{ site.baseurl }}{{ page.next }}" class="pagination-next" aria-label="Next page">Next page</a>
    {%- elsif page.order < lastorder -%}
    {%- assign nextorder = page.order | plus: 1 -%}
    {%- assign next = dirpages[nextorder] -%}
    <a href="{{ site.baseurl }}{{ next.url }}" class="pagination-next" aria-label="Next page">Next page</a>
    {%- endif -%}
</nav>
{%- endif -%}
