{%- assign sorted = (site.people | sort: 'lastname') -%}
{%- for member in sorted -%}
{%- if member.group == include.groups -%}
<div class="bio">
    <h3>{{ member.name }}</h3>

    {%- if member.position -%}
    <h4>{{ member.position }}</h4>
    {%- endif -%}

    {% assign img_path = '/images/people/' | append: member.path | replace: '_people/', '' | replace: 'markdown', 'jpg' %}
    {% assign file_exists = site.static_files | where: "path", img_path %}
    {% if file_exists.size == 0 %}
      {% assign img_path = '/images/people/placeholder.jpg' %}
    {% endif %}
    <img class="member_photo" src="{{ site.baseurl }}/{{ img_path }}" alt="{{ member.name }}" />

    <div class="contact-info">
        {%- if member.address -%}
        <p class="address">{{ member.address }}</p>
        {%- endif -%}
        {%- if member.institution -%}
        <p class="address">{{ member.institution }}</p>
        {%- endif -%}
        {%- if member.email -%}
        <p class="email">{{ member.email }}</p>
        {%- endif -%}
        {%- if member.phone -%}
        <p class="phone">{{ member.phone }}</p>
        {%- endif -%}
    </div>

    {%- if member.advisor -%}
    <p>Advisor: {{ member.advisor }}</p>
    {%- endif -%}

    {{ member.content }}
</div>
<div style="clear:both;"></div>
{%- endif -%}
{%- endfor -%}
