@charset "utf-8";

.breadcrumb {
    font-size: 90%;
}

article {
    //// Default to centering these things; note that kramdown allows you to append attribute lists:
    //// https://kramdown.gettalong.org/syntax.html#inline-attribute-lists
    img, iframe {
        display: block;
        margin: 10px auto;
    }

    header {
        background: initial;
    }

    h1 {
        font-size: 36px;
        color: $terracotta;
        text-shadow: $brownishgrey 0px 1px 0;
        .post-subtitle {
            font-family: "Open Sans", "Helvetica Neue", sans-serif;
            font-size: 25px;
            font-weight: 700;
            color: $purplebrown;
        }
    }

    h2 {
        margin-top: 1rem;
        font-size: 25px;
        font-weight: 700;
        color: $purplebrown;
    }

    h3 {
        font-size: 20px;
        font-style: italic;
        font-weight: 700;
        color: $bluegreen;
    }

    p {
        margin: 1rem 0;
    }

    ol, ul {
        padding-left: 20px;
        list-style-position: inside;
    }

    figure {
        &.right {
            width: 50%;
            float: right;
            margin-left: 20px;
        }
        &.left {
            width: 50%;
            float: left;
            margin-right: 20px;
        }
        img {
            margin: 5px 0 10px 0;
            padding: 4px;
            background-color: #fff;
            border: #ddd solid 1px!important;
        }
        figcaption {
            margin: 0;
            font-size: 81%;
            line-height: 123%;
        }
    }

    // This is for an aside subsidiary to (and specifically *within*) `article`
    aside {
        width: 35%;
        float: right;
        margin: 5px 0 15px 15px;
        padding: 20px 15px 10px;
        font-size: 81%;
        line-height: 162%;
        background: $palepeach;
        border: $lightgrey solid 3px;
        border-radius: 12px;
        p {
            margin: 0 0 1rem 0;
        }
    }

    .equation {
        text-align: center !important;
    }
}


// This is for the sidebar — an aside subsidiary to `main`, but coequal to `article`
aside {
    h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    blockquote {
        padding-left: 25px;
        font-family: Georgia,'Times New Roman',serif;
        font-style: italic;
        font-size: 17px;

        &::before {  /* Open Quote Mark */
            content: "“ ";
	    font-family: Oswald, Helvetica, arial, sans-serif;
            font-size: 50px;
            font-weight: bold;
            line-height: 20px;
            color: $terracotta;
            position: absolute;
            top: 12px;
            left: 0px;
	    font-style: normal;
        }

        &::after {  /* Close Quote Mark */
            content: " ”";
	    font-family: Oswald, Helvetica, arial, sans-serif;
            font-size: 50px;
            font-weight: bold;
            line-height: 20px;
            color: $terracotta;
            position: absolute;
            bottom: -2px;
	    font-style: normal;
        }
    }

    .sidebar-quote-attribution {
        text-align: right;
        font-size: 90%;
    }
}
