@charset "utf-8";


footer {
    background: $darkgrey url($img + "/site/footer_background.jpg") repeat 0 0;
    border-top: 4px solid $terracotta;
    color: $offwhite;
    text-align: center;
}

.footer {
    // Override bulma setting
    padding: 0px;


    //// The hero is the part of the footer with the dark background, including institution logos

    .hero-body {
        width: 100%;
        word-wrap: break-word;

        .title {
            color: $terracotta;
        }

        p {
            margin-bottom: 20px;
        }

        img {
            margin: 10px 25px;
            vertical-align: middle;
            opacity: 0.7;
            transition: all .2s linear 0s;
        }

        img:hover {
            opacity: 1;
            transition: all .4s linear 0s;
        }

        #latest-tweet {
            padding: 4px 30px;
        }
    }

    //// The trim is the part at the very bottom with contrasting stitching
    .trim {
        a {
            color: $offwhite;
        }

        a:hover {
            color: $darkgrey;
        }

        & > .container {
            padding: 8px;
        }

        @media screen and (min-width: 700px) {
            .copyright-narrow {
                display: none;
            }
            .copyright-wide {
                display: initial;
            }
        }

        @media screen and (max-width: 700px) {
            .copyright-narrow {
                display: initial;
            }
            .copyright-wide {
                display: none;
            }
        }
    }

}
