@charset "utf-8";


header {
    background:#f0f0f0 url($img + "/site/banner_background.png");
    position:relative;
    padding:0.1px;
}

header > .logo {
    @include desktop {
        background: url($img + "/site/sxs_logo.png") 50% 0 no-repeat !important;
        margin: 16px auto;
        width: 498px;
        height: 160px !important;
    }
    @include touch {
        background: url($img + "/site/sxs_logo.png") no-repeat scroll 50% -160px transparent !important;
        margin: 30px auto !important;
        width: 250px !important;
        height: 181px !important;
    }
    opacity: 1;
    transition:all .2s ease-in-out;
    display: block;
}

header > .logo:hover {
    opacity:.8;
    transform: scale(.95,.95);
}

.navbar-burger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
    border: 2px solid $terracotta;
    border-radius: 3px;
}


// Automatically capitalize all the items that reside in the navbar itself
.navbar-menu > .navbar-start > a.navbar-item, .navbar-menu > .navbar-start > .has-dropdown > a {
    text-transform: uppercase;
}

// Put a border around the search box
.navbar input {
    border: 1px solid $clay;
}

.navbar .trim > .container {
    align-items: stretch;
    display: flex;
    width: 100%;
}
