@charset "utf-8";

//// The first section on the homepage under the navbar has the rocket ship and the ticket with
//// "ADMIT ONE" printed on it.  That's what well name this section.
.admit-one {
    max-height: 440px;
    height: 440px;
    position: relative;
    overflow: hidden;
    background: #333333 center 92px url($img + "/site/homepage_admit-one_background.png") repeat;
    color: $offwhite;
    font-size: 48px;
    font-weight: 630;
    text-align: center;
    letter-spacing: 2px;

    // Start all the div's at the bottom center of the background; we'll translate them from there
    div {
        position: absolute; 
        left: 0; 
        right: 0;
        bottom: 0;
        margin: auto;
    }

    &-animated {
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }

    $rocket-x: 0;
    $rocket-y: -46px;
    $bbh-x: 326px;
    $bbh-y: -197px;
    $inspiral-x: -330px;
    $inspiral-y: -278px;
    $ticket-x: 0;
    $ticket-y: -185px;
    $arrows-x: 0;
    $arrows-y: -240px;
    $ready-x: 0;
    $ready-y: -325px;
    $offscreen-x: 2000px;
    $offscreen-y: 440px;

    @keyframes moon-animation {
        0% {transform: translate(0, 116px);}
        20% {transform: initial;}
    }

    @keyframes inspiral-animation {
        0% {transform: translate(-$offscreen-x, $inspiral-y);}
        10% {transform: translate(-$offscreen-x, $inspiral-y);}
        30% {transform: translate($inspiral-x, $inspiral-y);}
    }

    @keyframes bbh-animation {
        0% {transform: translate($offscreen-x, $bbh-y);}
        20% {transform: translate($offscreen-x, $bbh-y);}
        40% {transform: translate($bbh-x, $bbh-y);}
    }

    @keyframes rocket-animation {
        // cubic-bezier(.33,0,.67,.33) and cubic-bezier(.33,.67,.67,1) describe motion under
        // constant acceleration, though they are quite close to ease-in [cubic-bezier(0.42, 0.0,
        // 1.0, 1.0)] and ease-out [cubic-bezier(0.0, 0.0, 0.58, 1.0)], respectively.
        0% {transform: translate($rocket-x, -$offscreen-y); animation-timing-function: linear;}
        30% {transform: translate($rocket-x, -$offscreen-y); animation-timing-function: linear;}
        45% {transform: translate($rocket-x, $rocket-y); animation-timing-function: cubic-bezier(.33,.67,.67,1);}
        50% {transform: translate($rocket-x, $rocket-y - 20px); animation-timing-function: cubic-bezier(.33,0,.67,.33);}
        55% {transform: translate($rocket-x, $rocket-y); animation-timing-function: cubic-bezier(.33,.67,.67,1);}
        58% {transform: translate($rocket-x, $rocket-y - 7px); animation-timing-function: cubic-bezier(.33,0,.67,.33);}
        61% {transform: translate($rocket-x, $rocket-y);}
    }

    @keyframes ticket-animation {
        0% {transform: translate($ticket-x, 0.75*$ticket-y); opacity: 0;}
        75% {transform: translate($ticket-x, 0.75*$ticket-y); opacity: 0;}
        100% {transform: translate($ticket-x, $ticket-y); opacity: 1;}
    }

    @keyframes arrows-animation {
        0% {transform: translate($arrows-x, -$offscreen-y);}
        60% {transform: translate($arrows-x, -$offscreen-y);}
        80% {transform: translate($arrows-x, $arrows-y);}
    }

    @keyframes ready-animation {
        0% {transform: translate($ready-x, $ready-y - $offscreen-y);}
        60% {transform: translate($ready-x, $ready-y - $offscreen-y);}
        80% {transform: translate($ready-x, $ready-y);}
    }

    // Note that we need to set the width and height of each of the divs below, so that positioning
    // can work

    &-moon {
        width: 768px;
        height: 116px;
        animation-name: moon-animation;
    }

    &-rocket {
        width: 59px;
        height: 106px;
        transform: translate($rocket-x, $rocket-y);
        animation-name: rocket-animation;
    }

    &-bbh {
        width: 142px;
        height: 140px;
        transform: translate($bbh-x, $bbh-y);
        animation-name: bbh-animation;
    }

    &-inspiral {
        width: 229px;
        height: 109px;
        transform: translate($inspiral-x, $inspiral-y);
        animation-name: inspiral-animation;
    }

    &-ticket {
        width: 220px;
        height: 110px;
        transform: translate($ticket-x, $ticket-y);
        animation-name: ticket-animation;

        a {
            img {
                transition: all .2s ease-in-out;
            }
        }

        a:hover img {
            transform: scale(1.1);
        }

    }

    &-arrows {
        width: 288px;
        height: 80px;
        transform: translate($arrows-x, $arrows-y);
        animation-name: arrows-animation;
    }

    &-ready {
        width: 288px; // No wider than the image of the arrows
        height: 50px;
        transform: translate($ready-x, $ready-y);
        animation-name: ready-animation;
    }

}


//// The next section on the homepage is titled "the Science", so that's what we'll name it.

.the-science {
    background: $brownishgrey url($img + "/site/homepage_coins_background.jpg") repeat 0 0;
    // max-height: 442px;
    min-height: 442px;
    border-top: 13px solid $lightgrey;
    border-bottom: 4px solid $greyish;

    // This is the little downward-pointing nub that blends in with the top border of this section.
    .arrow-down {
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 13px solid $lightgrey;
    }

    .title {
        color: $darkgrey;
        font-family: "Times New Roman", Georgia, serif;
        text-shadow: $greyish 1.4px 1.4px 0;
        text-align: center;
        letter-spacing: 3px;
        font-size: 30px;
        margin-bottom: 12px;

        h1 {
            font-family: "Times New Roman", Georgia, serif;
            margin-top: 5px;
            height: 53px;
        }

        h2 {
            font-family: "Times New Roman", Georgia, serif;
            color: $lightgrey;
            font-size: 16px;
            font-style: italic;
            text-shadow: none;
            letter-spacing: 2px;
            height: 17px;
            padding-top: 5px;
        }

        strong {
            font-size: 48px;
            font-style: italic;
            font-weight: 700;
        }

    }

    // The "coins" are the circular things that flip.  We'll style them below, using these variables.
    $coinmargin: 35;
    $coinradius: 90;
    $coinedge: 10;
    $coinsize: (2*($coinradius + $coinedge)) + px;
    $coinface: (2*$coinradius) + px;
    $centeringmargin: (-$coinradius) + px;
    $cointotal: (2*($coinradius + $coinedge + $coinmargin)) + px;

    // This contains the coins
    .coins {
        width: 100%;
        justify-content: space-around;
        display: flex;
        margin-bottom: 38px;
    }

    // This styles each coin
    .coin {
        border-radius: 50%;
        transition: all 0.6s ease-in-out;
        width: $coinsize !important;
        height: $coinsize !important;
        margin: $coinmargin + px;
        position: relative;
        text-align: center;
        color: #FFFFFF;

        .centering {
            width: $coinface !important;
            height: $coinface !important;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: $centeringmargin 0 0 $centeringmargin;
        }

        .edge {
            background: #333333;
            box-shadow: 0 0 0 10px #FFFFFF33;
        }

        .reverse {
            opacity: 0;
            background: #333 url($img + "/site/homepage_admit-one_background.png");
            pointer-events: none;
            transform: scale(1.5);
            transition: all 0.4s ease-in-out 0.2s;
            line-height: 14px;
            cursor: pointer;

            h3 {
                font-family: $navbar-font-family;
                font-size: 19px;
                padding-top: 45px;
                height: 105px;
                text-transform: uppercase;
                letter-spacing: 2px;
                line-height: 24px;
            }

            p {
                border-top: 1px solid #FFFFFF88;
                font-size: 11px;
                font-style: italic;
                padding: 8px 5px 0;
                margin: 0 30px;
                width: 120px;
            }

            a {
                text-transform: uppercase;
                font-size: 9px;
                font-weight: bold;
            }

            a:hover {
                color: $offwhite;
            }
        }

        &:hover .obverse {
            transform: scale(0);
            opacity: 0;
        }

        &:hover .reverse {
            opacity: 1;
            transform: scale(1);
            pointer-events: auto;
        }

        .label {
            color: $lightgrey;
            font-style: italic;
            font-family: Georgia,serif;
            font-size: 17px;
            letter-spacing: 1px;
            margin-top: (2*($coinradius + $coinedge)+10) + px;
        }
    }

    .coin1 {
        background: url($img + "/site/homepage_coin_relativity.jpg") center;
    }

    .coin2 {
        background: url($img + "/site/homepage_coin_gw.png") center;
    }

    .coin3 {
        background: url($img + "/site/homepage_coin_compact.png") center;
    }

    .coin4 {
        background: url($img + "/site/homepage_coin_nr.png") center;
    }

}

#coins {
    font-size: 0; /* Eliminates extraneous spaces between elements */
    margin: 0 auto 35px;
    width: 1080px;
    height: 270px;

    @media screen and (max-width: 1080px) {
        width: 540px;
        height: 540px;
    }
    @media screen and (max-width: 540px) {
        width: 270px;
        height: 1080px;
    }
    & > div {
        height: 200px;
        width: 200px;
        margin: 35px;
        position: relative;
        transition: all 0.6s ease-in-out;
    }
    div {
        font-size: 16px;
        display: inline-block;
        transition: all 0.6s ease-in-out;
    }
    .edge {
        box-shadow: 0 0 0 10px #ffffff33;
    }
    .field {
        background: #333333;
    }
    .centering {
        width: 180px !important;
        height: 180px !important;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -90px 0 0 -90px;
        border-radius: 50%;
    }
}


.research {
    margin: 12px;
    h1 {
        text-align: center;
        margin-bottom: 30px;
        font-style: italic;
    }
    h2 {
        font-family: Oswald, Helvetica, arial, sans-serif;
        font-weight: 400;
    }
    .honeycomb {
        position: relative;
        a {
            position: absolute;
            transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
        }
        // Below are defaults that may be overwritten in the @media query
        height: 165px;
        width: 521px;
        .sounds {
            left: 100px;
            top: 60px;
        }
        .glossary {
            left: 200px;
        }
        .faq {
            left: 300px;
            top: 60px;
        }
        .downloads {
            left: 400px;
        }
        @media screen and (max-width: 545px) {
            height: 225px;
            width: 321px;
            margin: auto;
            .faq {
                left: 0px;
                top: 120px;
            }
            .downloads {
                left: 200px;
                top: 120px;
            }
        }
    }
    .bh-quote {
        min-width: 276px;
        max-width: 450px;
        padding: 12px 12px;
        @media screen and (max-width: 545px) {
            margin: auto;
        }
        .quote {
            background: url($img + "/site/homepage_admit-one_background.png") #333 repeat 0 0;
            color: $offwhite;
            line-height: 33px;
            padding: 25px 35px 15px;
            text-align: center;
            font-family: Georgia,'Times New Roman',serif;
            font-size: 18px;
            font-style: italic;
            border-radius: 10px;
        }
        .quote:hover {
            -webkit-animation: starscroll 60s linear infinite forwards;
            animation: starscroll 60s linear infinite forwards;
        }
        .quote::before {
            content: "";
        }
        .quote::after {
            content: "";
            border-color: #333 transparent;
            left: 82%;
            bottom: -27px;
            display: block;
            position: relative;
            width: 0px;
            height: 0px;
            border-width: 12px 12px 0px;
            border-style: solid;
        }
        .source {
            color: #333;
            margin-top: 15px;
            text-align: right;
            font-size: 13px;
            line-height: 17px;
        }
    }
}

.bio img.member_photo {
    max-width: 300px;
}
