@charset "utf-8";


// Trim is the pair of contrasting-stitch bars the contain the navbar and footer
.trim {
    background: #c4663e url($img + "/site/menu_background.png") repeat 0 0;
    height: $navbar-height;
    min-height: $navbar-height;
    color: $offwhite;
    font-family: $navbar-font-family;
}

// Ensure that the margins don't collapse when putting a container inside trim
.trim::before, .trim::after{
    content: ' ';
    display: table;
}

.trim > .container {
    height: ($navbar-height-num - 2*$navbar-margin) + px;
    min-height: ($navbar-height-num - 2*$navbar-margin) + px;
    padding: $navbar-padding + px 0;
    margin-top: $navbar-margin + px;
}
