---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

    <head>
        {% include head.html %}
    </head>

    <body>

        <header>
            {% include header.html %}
        </header>

        <nav class="navbar trim" role="navigation" aria-label="Main">
            {% include navbar.html %}
        </nav>

        <main class="py-6">

            <div class="container is-max-widescreen">

                <div class="columns">

                    <div class="column is-three-quarters">
                        <article>
                            {{ content }}
                        </article>
                    </div>

                    <div class="column">
                        <aside>
                            Here is the side text, which contains more navigation, some media, and quotes.
                        </aside>
                    </div>

                </div>
                <!-- {% if page.show_sidebar %}
                     {% endif %} -->

            </div>

        </main>

        <section class="hero footerhero">
            <div class="hero-body container is-widescreen footerherobody">
                <a class="" href="https://www.pma.caltech.edu/" target="_blank" title="California Institute of Technology Division of Physics, Mathematics &amp; Astronomy"><img src="{{ site.baseurl }}/assets/images/logos/caltech_new_s.png" alt="Caltech" width="133" height="32"></a>
                <a class="" href="https://www.cita.utoronto.ca/" target="_blank" title="Canadian Institute for Theoretical Astrophysics"><img src="{{ site.baseurl }}/assets/images/logos/cita-icat_s_light.png" alt="CITA-ICAT"></a>
                <a class="" href="https://physics.fullerton.edu/gwpac/" target="_blank" title="The Gravitational-Wave Physics and Astronomy Center at Cal State Fullerton"><img src="{{ site.baseurl }}/assets/images/logos/csuf_s.png" alt="Cal State Fullerton"></a>
                <a class="" href="https://astro.cornell.edu/" target="_blank" title="Cornell University Astronomy Department"><img src="{{ site.baseurl }}/assets/images/logos/cornell_new_s.png" alt="Cornell"></a>
                <a class="" href="https://www.aei.mpg.de/" target="_blank" title="Albert Einstein Institute"><img src="{{ site.baseurl }}/assets/images/logos/ae_engli_white_small.png" alt="Albert Einstein Institute" width="200" height="64"></a>
                <a class="" href="https://www.oberlin.edu/physics/" target="_blank" title="Oberlin College Department of Physics and Astronomy"><img src="{{ site.baseurl }}/assets/images/logos/oberlin_s.png" alt="Oberlin College" width="120" height="60"></a>
                <a class="" href="https://physics.olemiss.edu/" target="_blank" title="The University of Mississippi Department of Physics"><img src="{{ site.baseurl }}/assets/images/logos/CrestUM_StackedBlue2767_TMR.png" alt="Ole Miss" width="139" height="106"></a>
                <a class="" href="httpss://cns.utexas.edu/" target="_blank" title="The University of Texas at Austin College of Natural Sciences"><img src="{{ site.baseurl }}/assets/images/logos/utaustin_rgb_university_primary_stacked.png" alt="UT Austin" width="153" height="106"></a>
                <a class="" href="https://astro.wsu.edu/" target="_blank" title="Washington State University Department of Physics and Astronomy"><img src="{{ site.baseurl }}/assets/images/logos/wsu_new_s_light.png" alt="Washington State University" class="last-img" width="130" height="80"></a>
            </div>
        </section>

        <footer class="footer trim">
            <!-- <footer class="footer trim"> -->
            {% include footer.html %}
        </footer>

        <script>
         {% include navbar-burgers.js %}
        </script>

    </body>

</html>
