---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

    <head>
        {% include head.html %}
    </head>

    <body>

        <header>
            {% include header.html %}
        </header>

        {% if page.is_homepage %}

        {% include homepage.html %}

        {% else %}

        {% include article.html %}

        {% endif %}

        <footer class="footer">
            {% include footer.html %}
        </footer>

        <script>
         {% include navbar-burgers.js %}
        </script>

    </body>

</html>
